{{ form_start(form) }} 
    <div>
        <div class="row">
            <div class="mb-5 fv-row fv-plugins-icon-container col-md-4">
                {{ form_label(form.code) }}
                {{ form_widget(form.code) }}
            </div>
            <div class="mb-5 fv-row fv-plugins-icon-container col-md-8">
                {{ form_label(form.intitule) }}
                {{ form_widget(form.intitule) }}
            </div>
        </div>
        <div class="mb-5 fv-row fv-plugins-icon-container">
            <button type="submit" class="btn btn-primary">
                <span class="indicator-label">
                    Enregistrer
                </span>
                <span class="indicator-progress">
                   Veuillez patienter svp...<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
        </div>
    </div>
{{ form_end(form) }} 

