<div class="d-flex">
    <div class="form-group fv-row mx-1 col-5">
        {{ form_label(form.produitConditionnement) }}
        {{ form_widget(form.produitConditionnement) }}
        <input type="hidden" name="m" class="montanLigne" value="0">
    </div>
    <div class="form-group fv-row mx-1 col-2">
        {{ form_label(form.qteCondAppro) }}
        {{ form_widget(form.qteCondAppro) }}
        <span class="fs-6 text-muted"> {{ (form.carton.vars.value) ? form.carton.vars.value ~ ' Carts ' ~ form.piece.vars.value ~' pièces':'' }} </span>
    </div>
    <div class="form-group fv-row mx-1 col-2">
        {{ form_label(form.prixAchat) }}
        {{ form_widget(form.prixAchat) }}
    </div>
    <div class="form-group fv-row mx-1 col-2">
        {{ form_label(form.montantCond) }}
        {{ form_widget(form.montantCond) }}
        {{ form_widget(form.carton) }}
        {{ form_widget(form.piece) }}
    </div>

    <div class="col">
        {% set id = null %}
        {% if form.vars.value is not null %}
            {% set id = form.vars.value.id %}
        {% endif %}
        <a href="javascript:;" class="btn btn-icon px-2  btn-danger collection-action mt-8 btn-trim-center pull-center"
            data-url="{% if id is not null %}{{ path('app_entity_callandsave', {'class':class, 'action':'del', 'key':id}) }}{% endif %}"
            data-token="{% if id is not null %}{{ csrf_token('delete' ~ id) }}{% endif %}">
            <i class="la la-trash-o p-0 fs-3"></i>
        </a>
    </div>
</div>