{% extends 'base.html.twig' %}

{% block title %}Transfert{% endblock %}

{% block body %}
    <h1>Transfert</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transfert.id }}</td>
            </tr>
            <tr>
                <th>DateTrans</th>
                <td>{{ transfert.dateTrans ? transfert.dateTrans|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ transfert.motif }}</td>
            </tr>
            <tr>
                <th>MontantTotal</th>
                <td>{{ transfert.montantTotal }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ transfert.createdAt ? transfert.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ transfert.updatedAt ? transfert.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ transfert.deletedAt ? transfert.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_transfert_index') }}">back to list</a>

    <a href="{{ path('app_transfert_edit', {'id': transfert.id}) }}">edit</a>

    {{ include('transfert/_delete_form.html.twig') }}
{% endblock %}
