{% extends 'base.html.twig' %}

{% block title %}Types de taxe{% endblock %}

{% block body %}
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Toolbar-->
        <div class="toolbar" id="kt_toolbar">
            <!--begin::Container-->
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <!--begin::Page title-->
                <div data-kt-swapper="true" data-kt-swapper-mode="prepend"
                     data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
                     class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <!--begin::Title-->
                    <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Type de taxe</h1>
                    <!--end::Title-->
                    <!--begin::Separator-->
                    <span class="h-20px border-gray-300 border-start mx-4"></span>
                    <!--end::Separator-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-muted">
                            <a href="{{ path('app_admin_dashboard') }}"
                               class="text-muted text-hover-primary">Accueil</a>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-300 w-5px h-2px"></span>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-muted">Paramètre</li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-300 w-5px h-2px"></span>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-dark">Type de taxe</li>
                        <!--end::Item-->
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page title-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Toolbar-->
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container d-flex flex-column flex-lg-row">
                {# <div class="row g-7"> #}
                <!--begin::Sidebar wrapper-->
                <div class="me-5 flex-row-auto w-lg-200px ">
                    <!--begin::Sidebar nav-->
                    <div class="card card-flush d-none d-lg-flex" data-kt-sticky="true"
                         data-kt-sticky-name="sidebar-navs" data-kt-sticky-offset="{default: false, lg: 200}"
                         data-kt-sticky-width="200px" data-kt-sticky-left="auto" data-kt-sticky-top="100px"
                         data-kt-sticky-zindex="95" style="animation-duration: 0.3s;">
                        <!--begin::Card body-->
                        <div class="card-body px-0 px-2 py-6">
                            <div class="menu menu-rounded menu-column menu-title-gray-700 menu-icon-gray-400 menu-arrow-gray-400 menu-bullet-gray-400 menu-arrow-gray-400 menu-state-bg fw-bold "
                                 data-kt-menu="true">
                                <!--begin::Menu item-->
                                <div class="menu-item mb-1">
                                    <a href="javascript:void(0)" class="menu-link p-2 kt-menu-proto active"
                                       id="kt_typetaxe_form" onclick="activateMenu(this);"
                                       data-content="{% autoescape 'html' %}{{ include('type_taxe/partials/_card_form.html.twig', {'idMenu':'kt_typetaxe_list'})|escape }}{% endautoescape %}">
                                                    <span class="menu-icon">
                                                        <i class="bi bi-plus fs-1"></i>
                                                    </span>
                                        <span class="menu-title">Ajouter un type</span>
                                    </a>
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <div class="menu-item">
                                    <a href="javascript:void(0)" class="menu-link p-2 kt-menu-proto"
                                       id="kt_typetaxe_list" onclick="activateMenu(this);"
                                       data-content="{% autoescape 'html' %}{{ include('type_taxe/partials/_card_list.html.twig', {'idMenu':'kt_typetaxe_list'})|escape }}{% endautoescape %}">
                                                    <span class="menu-icon">
                                                        <i class="bi bi-list fs-1"></i>
                                                    </span>
                                        <span class="menu-title">Liste des types de taxe</span>
                                    </a>
                                </div>
                                <!--end::Menu item-->
                            </div>
                            <!--end::Menu-->
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Sidebar nav-->
                </div>
                <!--end::Sidebar wrapper-->

                <div class="col flex-row-fluid" data-call-form="ajax">
                    {# {{ form|raw }} #}
                </div>

                {# </div> #}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}