<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Facture</title>
    <style>
        .bod{
            border: 1px solid #c4c4c4;
            border-collapse: collapse;
        }

        .bon {
            border:1px solid #c4c4c4;
            border-top-color: white;
            border-collapse:collapse;
        }
        .hide_border_top_right{
            border:1px solid #c4c4c4;
            border-top-color: white;
            border-right-color: white;
            border-collapse:collapse;
        }
        .bod2{
	        border:1px solid #c4c4c4;
            border-left-color: white;
            border-top-color: white;
            border-collapse: collapse;
        }
        .bode{
            border: none;
            border-collapse: collapse;
        }
        .font{
            font-size: 12px;
            color: #383737;
        }
        .pad{
            padding: 6px 6px 6px 0px;
        }
        .bord{
            border:1px solid #c4c4c4 !important;
        }
        .hb{
            border-bottom-color: white !important;
        }
        .hr{
            border-right-color: white !important;
        }
        .hl{
            border-left-color: white !important;
        }
        .ht{
            border-top-color: white !important;
        }
        .hAll{
            border-color: white !important;
        }
        .pl-6{
            padding-left: 6px !important;
        }
        .bold{
            font-weight: bold !important;
        }
        .italic{
            font-style: italic !important;
        }
        
    </style>
</head>

<body>
    <div class="row">
        <span style=" width:100%;  ">
            <div style="height: 90%;">
                {# *********// Titre //******** #}
                <table style="width: 100%;">
                    <tbody>
                        <tr> 
                            <td style="text-align: left;height: 10px !important; padding: 3px 1px;"> 
                                <p><img alt="entete" height="80" style="width: 100%;" src="{{asset('uploads/medias/societe/' ~ societe.entete.id ~ "." ~ societe.entete.extension )}}"></p> 
                            </td>
                        </tr> 
                        <tr style="margin-left: 10px;">  
                            <td style="text-align: right;" > 
                                {{ (societe.lieuImpression is defined and societe.lieuImpression is not null) ? societe.lieuImpression ~ " le, " ~  commande.dateCom | date("d/m/Y") : " Date : " ~ commande.dateCom | date("d/m/Y") }}
                            </td>
                        </tr>
                    </tbody>
                </table> 


                {% set config_session = app.session.get('configuration') %}
                {% if config_session is defined and config_session.impressionPersonnaliseElements() == 0 %}

                    <div class="body-section">
                        <div style="margin-left: 10px;" class="row">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="text-align: center; "  >
                                        <p class=""> 
                                        
                                            {% if facture.typeFacture == 'FA' or facture.typeFacture == 'EA' %}

                                                {% if facture.typeFacture == 'EA' %}
                                                    <b> <h3> FACTURE D'AVOIR A L'EXPORTATION </h3> </b> 
                                                    <span style="font-size: 11px;"> Réf facture Original : {{ (commande.getFactures)[0].mecefCode }} </span>
                                                {% else %}
                                                    <b> <h3> FACTURE D'AVOIR </h3> </b> 
                                                    <span style="font-size: 11px;"> Réf facture Original : {{ (commande.getFactures)[0].mecefCode }} </span>
                                                {% endif %}
                                                
                                            {% else %}

                                                {% if commande.typeFacture == 'EV' %}
                                                    <b> FACTURE A L'EXPORTATION</b>
                                                {% else %}
                                                    <b> FACTURE</b>
                                                {% endif %}
                                            
                                            {% endif %}
                                            
                                        </p>
                                        <br><br>
                                    </td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                
                    {# *********// Entête  //******** #}
                    <div class="body-section">
                        <div style="margin-left: 10px;" class="row">
                            <table style="width: 100%;">
                                <tr style="margin-left: 10px;">
                                    <td style="text-align: left; width: 45%; " >
                                        <p class="sub-heading font"> 
                                            <b style="color: #383737;">OPERATEUR :</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <f style="padding-left: 10px;"> {{  commande.operateur.personnel.prenoms }} </f>
                                        </p>
                                        <hr style="padding: 0px !important;margin: 2px !important;color: white;">
                                        <p class="sub-heading font"> 
                                            <b style="color: #383737;">FACTURE / CMD N° :</b> &nbsp;&nbsp;&nbsp; {{ facture.refFac ~ '' ~ commande.refCom }}
                                        </p>
                                    </td>
                                    <td style="text-align: left; width: 5%; "></td> 
                                    {% if commande.acheteur.statut == "Physique" %} 
                                        <td style="text-align: left; width: 45%;   ">
                                            <table style="width: 100%; ">
                                            
                                                <tbody>
                                                    <tr>
                                                        <td style="margin-bottom: 10px"> 
                                                            <p class="sub-heading font"> 
                                                                <b> CLIENT :</b> &nbsp;&nbsp; {{ commande.acheteur.nom ~ " "~ commande.acheteur.prenom }}
                                                            </p>
                                                            <hr style="padding: 0px !important;margin: 2px !important;color: white;">
                                                            <p class="sub-heading font" style="margin: 5px 0px 0px 0px; ">
                                                                <b>IFU :</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{ (commande.acheteur.ifu) ? commande.acheteur.ifu : '-' }}
                                                            </p>
                                                            <hr style="padding: 0px !important;margin: 2px !important;color: white;">
                                                        </td>
                                                    </tr>
                                                </tbody>  
                                            </table> 
                                        </td>
                                    {% else %}
                                        <td style="text-align: left; width: 45%;">
                                            <table style="width: 100%;">
                                                <tbody>
                                                    <tr >
                                                        <td style="margin-bottom: 10px">
                                                            <p class="sub-heading font" class="font"> 
                                                                {# <b> DENOMINATION :</b>  #}
                                                                {{ commande.acheteur.denomination ~ ' ( ' ~ commande.acheteur.sigle ~ ' )' }}
                                                            </p>
                                                            <hr style="padding: 0px !important;margin: 2px !important;color: white;">
                                                            <p class="sub-heading font"> 
                                                                <b> IFU :</b>  {{ commande.acheteur.ifu }}
                                                            </p> 
                                                            <hr style="padding: 0px !important;margin: 2px !important;color: white;">
                                                            <p class="sub-heading font"> 
                                                                <b> TEL :</b> {{ commande.acheteur.telephone1 }}
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>  
                                            </table> 
                                        </td>
                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                    </div>

                {% else %}
                {% endif %}


                <hr style="padding: 0px !important;margin: 2px !important;color: white;">

                {% if commande.typeFacture == 'EV' %}
                    <table style="width:100%;" class="bod">
                        <thead> 
                            <tr style="background-color: #EBF5FF;">
                                <th class="bod" style=" font-size: 12px; width:25%; padding: 0.5rem; color: #383737;">Pays d'origine</th>
                                <th class="bod" style=" font-size: 12px; width:25%; padding: 0.5rem; color: #383737;">Lieu de chargement</th>
                                <th class="bod" style=" font-size: 12px;width: 25%;  padding: 0.5rem;color: #383737;">Pays de Destination</th>
                                <th class="bod" style=" font-size: 12px;width: 25%; padding: 0.5rem;color: #383737;">Lieu de déchargement</th> 
                            </tr> 
                        </thead> 
                        <tbody>
                            <tr> 
                                <td class="bod" style=" font-size: 12px;text-align: center; padding: 6px 6px 6px 6px;">{{ commande.paysOrigine }}</td>
                                <td class="bod" style=" font-size: 12px;text-align: center; padding: 6px 6px 6px 6px;">{{ commande.lieuChargement }}</td>
                                <td class="bod" style=" font-size: 12px;text-align: center; padding: 6px 6px 6px 6px;">{{ commande.paysDestination }}</td>
                                <td class="bod" style=" font-size: 12px;text-align: center; padding: 6px 6px 6px 6px;">{{ commande.lieuDechargement }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr style="color: white;">
                {% endif %}


                {% if config_session is defined and config_session.impressionPersonnaliseElements() == 1 %}
                {% if commande.elementSupplementaires|length > 0 %}
                    <table style="width:100%;">
                        <tbody>
                        {% for element in commande.elementSupplementaires %}
                            <tr style="margin-bottom: 0px !important;"> 
                                <td align="{{ element.position }}"  style=" font-size: {{ (element.taillePolice)? element.taillePolice : 12 }}px; padding: 6px 6px 6px 10px;"> 
                                <div> <b> {{ element.titre|upper }}</b>{{ element.description }} </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <hr style="color: white;">
                {% endif %}
                {% endif %}


                {# *********// Tableau de données //******** #}
                <table style="width:100%;" class="bod">
                    <thead> 
                        <tr style="background-color: #EBF5FF;">
                            <th class="bod" style=" font-size: 12px; width:5%; padding: 0.5rem; color: #383737;"  >N°</th>
                            <th class="bod" style=" font-size: 12px; width:45%; padding: 0.5rem; color: #383737;"  >Designation</th>
                            <th class="bod" style=" font-size: 12px;width: 8%;  padding: 0.5rem;color: #383737;" >Qte</th>
                            <th class="bod" style=" font-size: 12px;width: 11%; padding: 0.5rem;color: #383737;" >P.U</th> 
                            <th class="bod" style=" font-size: 12px;width: 7%; padding: 0.5rem;color: #383737;" >REM.</th>
                            <th class="bod" style=" font-size: 12px;width: 10%; padding: 0.5rem;color: #383737;" >TVA</th>
                            <th class="bod" style=" font-size: 12px;width: 6%; padding: 0.5rem;color: #383737;" >T.S.</th>
                            <th class="bod" style=" font-size: 12px;width: 11%; padding: 0.5rem;color: #383737;" >MT.TTC</th> 
                        </tr> 
                    </thead> 
                    <tbody> 
                        {% set totalExonerer = 0 %}
                        {% set totalTs = 0 %}
                        {% set totalTsTva = 0 %}
                        {% set totalTsHt = 0 %}
                        {% set totalReserve = 0 %}
                        {% set totalTps = 0 %}
                        {% set AllArticleIsExonerer = true %}

                        {% for c in commande.produitCondComClits  %}
                            <tr> 
                                <td class="bod" style=" font-size: 12px; padding: 6px 6px 6px 6px; text-align:left;">{{ loop.index }}</td>
                                <td class="bod" style=" font-size: 12px; padding: 6px 6px 6px 6px; text-align:left;">
                                    {{ (c.libelleProduit)? c.libelleProduit : c.produit  }}
                                    {{ (c.commandeClit.estNormalisee) ? '(' ~ c.groupeTaxeProduit ~ ') ' : '' }}
                                </td>
                                <td class="bod" style=" font-size: 12px; padding: 6px 6px 6px 6px;  text-align:right;width: 300px !important;">{{c.qtite| number_format(3, ',', ' ')}}</td>
                                <td class="bod" style=" font-size: 12px; padding: 6px 6px 6px 6px;  text-align:right;">{{ c.prix| number_format(0, ',', ' ')}}</td>
                                <td class="bod" style=" font-size: 12px; padding: 6px 6px 6px 6px;  text-align:right;">{{ c.remise == null ? (0 | number_format(2, ',', ' ')) : c.remise| number_format(2, ',', ' ') }}</td>
                                <td class="bod" style=" font-size: 12px; padding: 6px 6px 6px 6px;  text-align:right;">{{ c.montantTvap == null ? (0 | number_format(2, ',', ' ')) : c.montantTvap| number_format(2, ',', ' ') }}</td>
                                <td class="bod" style=" font-size: 12px; padding: 6px 6px 6px 6px;  text-align:right;">{{ (c.taxeSpecifique) ? c.taxeSpecifique|number_format(0, ',', ' ') : 0 }}</td>
                                <td class="bod" style=" font-size: 12px; padding: 6px 6px 6px 6px;  text-align:right;">{{ c.montantTtcp| number_format(0, ',', ' ')}}</td>
                            </tr>

                            {% if c.commandeClit.estNormalisee and c.groupeTaxeProduit =='A-EX'  %} 
                                {% set totalExonerer = totalExonerer + c.montantTtcp %}
                            {% endif %}

                            {% if c.taxeSpecifique %}
                                {% set totalTs = totalTs + c.taxeSpecifique %}
                                {% set totalTsHt = totalTsHt   + ((c.groupeTaxeProduit =='E') ? c.taxeSpecifique|round  : (c.taxeSpecifique / 1.18)|round)  %}
                                {% set totalTsTva = totalTsTva + ((c.groupeTaxeProduit =='E') ? 0  : c.taxeSpecifique - (c.taxeSpecifique / 1.18)|round ) %}
                            {% endif %}

                            {% if c.groupeTaxeProduit =='F' %}
                                {% set totalReserve = totalReserve + c.prix %}
                            {% endif %}

                            {% if c.groupeTaxeProduit =='E' %}
                                {% set totalTps = totalTps + c.montantTtcp %}
                            {% endif %}

                            {% if c.groupeTaxeProduit != 'A-EX' %}
                                {% set AllArticleIsExonerer = false %}
                            {% endif %}



                        {% endfor %}
                    </tbody>
                </table>

                {# *********// Total //******** #}
                <table  class="bod2" style="width:100%; ">
                    <tbody>
                        <tr style="border-top: none !important;">
                            <td style = "width: 60%;" {% if totalExonerer > 0 and totalTs > 0 %} rowspan="6" {% else %} rowspan="5" {% endif %}   class="bord {% if qr != null %} ht {% else %} hl ht hb {% endif %}">
                            {# BLOCK NORMALISEE #}
                            {% if qr != null %}
                                <table style="width:100%;" class="bon">
                                    <tbody>
                                        <tr>
                                            <td style="width:65%;" class="bord ht hb hl"> 
                                                <table style="width:100%;" class="bode">
                                                    <tbody>
                                                        <tr> 
                                                            <td align="center" style="width:100%;" class="font bode pad">
                                                                <b>Code MECeF/DGI</b>
                                                                <p style="margin-top: -10px;">{{ (facture.mecefCode) ? facture.mecefCode : '' }}</p>
                                                            </td>
                                                        </tr>
                                                        <tr> 
                                                            <td class="bode">
                                                                <table style="width: 100%;" class="bode">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="width:50%;" class="font bode pad">
                                                                                <p style="margin-buttom: 5px;  padding: 6px 6px 6px 6px;"><b> MECeF NIM:</b></p>
                                                                                <p style=" margin-buttom: 5px; padding: 6px 6px 6px 6px;"><b> MECeF Compteur:</b></p>
                                                                                <p style=" margin-buttom: 5px; padding: 6px 6px 6px 6px;"><b> MECeF Heure:</b></p>
                                                                            </td>
                                                                            <td style="width:50%;" align="right" class="font bode pad">
                                                                                <p style="margin-buttom: 5px;padding: 6px 6px 6px 6px;">{{ (facture.mecefNim) ? facture.mecefNim : '' }}</p>
                                                                                <p style="margin-buttom: 5px; padding: 6px 6px 6px 6px;">{{ (facture.mecefCompteur) ? facture.mecefCompteur : '' }}</p>
                                                                                <p style="margin-buttom: 5px; padding: 6px 6px 6px 6px;">{{ (facture.mecefDate) ? facture.mecefDate : '' }}</p>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="width:35%;" class="ht hr hb" align="center">
                                                <img width="100" height="100" alt="entete"  src="{{ qr }}" ismap>
                                                <hr style="padding: 0px !important;margin: 2px !important;color: white;">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            {% endif %}
                            {# ENDBLOCK #}
                            </td>
                            {% if qr != null %}
                                {% if AllArticleIsExonerer == false %}
                                    <td style = "width: 25%; color: #383737;" class="bon font pl-6"> 
                                        <b>Montant HT</b>
                                    </td>
                                    <td class="bon font" style="text-align: right;padding: 3px 6px 3px 6px;  width:15%; color: #383737;"> 
                                        <b>{{(commande.montantHt - totalExonerer - totalReserve)| number_format(0, ',', ' ')}} </b>
                                    </td>

                                {% else %}

                                    <td style = "width: 25%;color: #383737; "class="bod font pl-6"> 
                                        <b>Montant TVA</b>
                                    </td>
                                    <td class="bod font" style="text-align: right; padding: 3px 6px 3px 6px; width:15%; color: #383737; "> 
                                        <b> {{ (commande.montantTva + totalTsTva|round)|number_format(0, ',', ' ')}} </b>
                                    </td>

                                {% endif %}
                            {% endif %}
                        </tr>
                        {% if qr != null %}
                            {% if AllArticleIsExonerer == false %}
                                <tr>
                                    <td style = "width: 25%;color: #383737; "class="bod font pl-6"> 
                                    <b>Montant TVA</b>
                                    </td>
                                    <td class="bod font" style="text-align: right; padding: 3px 6px 3px 6px; width:15%; color: #383737; "> 
                                        <b> {{ (commande.montantTva + totalTsTva|round)|number_format(0, ',', ' ')}} </b>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if commande.montantAib > 0 %}
                                <tr>
                                    <td style = "width: 25%;color: #383737;"class="bod font pl-6" > 
                                    <b>Montant AIB
                                        {% if commande.tauxAib  %} ( {{  commande.tauxAib ~ '%' }} ) {% endif %}
                                    </b>
                                    </td>
                                    <td class="bod font" style="text-align: right; padding: 3px 6px 3px 6px; width:15%; color: #383737;"><b> {{ (commande.montantAib)|round|number_format(0, ',', ' ')}} </b> </td>
                                </tr>
                            {% endif %}
                            {% if totalExonerer > 0 %}
                            <tr>
                                <td class="bod font pl-6" style = "width: 25%;color: #383737;"> 
                                <b>EXONERES</b>
                                </td>
                                <td class="bod font" style="text-align: right; padding: 3px 6px 3px 6px; width:15%; color: #383737;"><b> {{ totalExonerer| number_format(0, ',', ' ')}} </b></td>
                            </tr>
                            {% endif %}
                            {% if totalTps > 0 %}
                            <tr>
                                <td class="bod font pl-6" style = "width: 25%;color: #383737;"> 
                                <b>REGIME TPS [E]</b>
                                </td>
                                <td class="bod font" style="text-align: right; padding: 3px 6px 3px 6px; width:15%; color: #383737;"><b> {{ totalTps| number_format(0, ',', ' ')}} </b></td>
                            </tr>
                            {% endif %}
                            {% if totalTs > 0 %}
                            <tr>
                                <td class="bod font pl-6" style = "width: 25%;color: #383737;"> 
                                <b>Montant T.S.</b>
                                </td>
                                <td class="bod font" style="text-align: right; padding: 3px 6px 3px 6px; width:15%; color: #383737;"><b> {{ (totalTsHt)|round|number_format(0, ',', ' ')}} </b></td>
                            </tr>
                            {% endif %}
                        {% endif %}
                        {% if totalReserve > 0 %}
                            {% if qr != null %}
                                <tr>
                                    <td class="bod font pl-6" style = "width: 25%;color: #383737;"> 
                                    <b>RESERVES [F]</b>
                                    </td>
                                    <td class="bod font" style="text-align: right; padding: 3px 6px 3px 6px; width:15%; color: #383737;"><b> {{ totalReserve|round|number_format(0, ',', ' ')}} </b></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        <tr>
                            <td class="bod font pl-6" style = "width: 25%;color: #383737;"> 
                                <b>Montant TTC</b>
                            </td>
                            <td class="bod font" style="text-align: right; padding: 3px 6px 3px 6px; width:15%; color: #383737;"><b> {{(commande.montantTtc)|round|number_format(0, ',', ' ')}} </b></td>
                        </tr>
                    </tbody>
                </table>

                <div class="font" style="margin-top: 2px;"> <strong>Arrêtée  la présente facture à la somme de </strong> <em> {{" "~ valeur ~ " (" ~ commande.montantTtc| number_format(0, ',', ' ') ~") francs CFA" }} <em> </div>
                
                {# <div style="margin-left: 5px; margin-right: 5px;"> #}
                <hr align="center" style="margin: 0px;height:1px;  color: yellow; margin: 20px 0px 10px 0px;border-width:2px; border: thick double #32a1ce;" >
                {# </div> #}

                {# *********// Signature //******** #}

                <div class="body-section" >
                    <table style="margin: 0px !important;padding: 0px !important;margin-left: 20px;  width: 100%; margin-right: 20px;" >
                        <thead>
                        <tr style="border: 1px solid red;">
                            {% set tail = 100 / (signataires.modelSignatairePersonnelFonctions|length ) %}

                            {% for sig in signataires.modelSignatairePersonnelFonctions %}
                                <td style="text-align: left; width: {{ tail ~ '%;' }} " class='font' align=" {{ loop.index == 1 ? 'left' : loop.index == signataires.modelSignatairePersonnelFonctions|length ? 'right' : 'center'  }} ">
                                    <p style="text-underline-offset: 5px; ">{{ sig.fonction.intitule }} </p>
                                    <br><br>
                                    <p> <b> {{ sig.personnel.nom ~ " "~ sig.personnel.prenoms }} </b> </p>
                                </td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>   
                </div>
                
                <div style="margin-left: 30px;  width:100%; margin-right: 20px; ">
                    <p align="center">
                        {% set session = app.session.get('societe') %}
                        {{ (session['messageCommercial']) ? session['messageCommercial'] : '' }}
                    </p>
                </div>
            
            </div>
        </span>

    </div>
</body>

</html>
