{% extends 'base.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block body %}
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="toolbar" id="kt_toolbar">
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack"><div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Livraison</h1>
                    <span class="h-20px border-gray-300 border-start mx-4"></span>
                    <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                        <li class="breadcrumb-item text-muted">
                            <a href="{{ path('app_admin_dashboard') }}" class="text-muted text-hover-primary">Accueil</a>
                        </li>
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-300 w-5px h-2px"></span>
                        </li>
                        <li class="breadcrumb-item text-dark">Ajouter une livraison</li>
                    </ul>
                </div>
                <div class="d-flex align-items-center gap-2 gap-lg-3">
                    <a type="button" class="btn  btn-sm btn-flex btn-light  fw-bolder"
                     data-url="{{ path('app_entity_liste', {'class':'Livraison','action':'list'}) }}" data-kt-entity-table-filter="list">
                        Liste des livraisons </a>
                         <a type="button" class="btn  btn-sm btn-flex btn-primary btn-active-primary fw-bolder"
                      data-kt-entity-table-filter="new_form">
                        Ajouter une livraison </a>
                </div>
                
            </div>
        </div>
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
                <div class="row g-12" data-call-form="ajax"  data-content="{% autoescape 'html' %}{{ include('livraison/partials/_card_form.html.twig')|escape }}{% endautoescape %}">
                    <!--begin::Search-->
                    <div class="col-xl-12" id="newfor">
                        
                        <!--begin::Contacts-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/custom/apps/livraison/livraison.js') }}"></script>
    
    <script>
        //consol.log(container);
        var app_loader_prod_comd ="{{ path('app_loader_prod_comd') }}";
        var app_loader_mag_comd ="{{ path('app_loader_mag_comd') }}";
    </script>
{% endblock %}
