<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>FICHE DE RECENSEMENT CARREAUX</title>
    <style>
        .bod{
            border: 1px solid #c4c4c4;
            border-collapse: collapse;
        }

        .bon {
            border:1px solid #c4c4c4;
            border-top-color: white;
            border-collapse:collapse;
        }
        .bod2{
	        border:1px solid #c4c4c4;
            border-left-color: white;
            border-top-color: white;
            border-collapse: collapse;
        }
        .bode{
            border: none;
            border-collapse: collapse;
        }
        .font{
            font-size: 12px;
            color: #383737;
        }
        .pad{
            padding: 6px 6px 6px 6px;
        }
    </style>
</head>

<body>
  <div class="row">
        <span style=" width:100%;  ">
            <div style="height: 90%;">
                {# *********// Titre //******** #}
                <table style="width: 100%;">
                    <tbody>
                        <tr> 
                            <td style="text-align: left;  width: 100%; padding: 3px 1px;"> 
                                <p><img alt="entete" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px; width: 100%;" src="{{asset('uploads/medias/societe/' ~ societe.entete.id ~ "." ~ societe.entete.extension )}}"></p> 
                            </td> 
                        </tr> 
                    </tbody>
                </table> 
                <div class="body-section">
                    <div style="margin-left: 10px;" class="row">
                        <table style="width: 100%;">
                            <tr style="margin-left: 10px;">  
                                <td style="text-align: right;" > 
                                    {{ (societe.lieuImpression is defined and societe.lieuImpression is not null) ? societe.lieuImpression ~ " le, " ~  "now" | date("d/m/Y")  }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center; "  >
                                    <p class="sub-heading"> 
                                        <b style="text-decoration: underline; ">FICHE DE RECENSEMENT CARREAUX</b>
                                    </p>
                                </td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
                <div class="body-section">
                    <div style="margin-left: 10px;" class="row">
                        <table style="width: 100%;">
                            <tr style="margin-left: 10px;">  
                                <td style="text-align: left;" > 
                                    <p class="sub-heading"> 
                                        <b style="text-decoration: underline; ">CODE CATEGORIE:</b>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left; "  >
                                    <p class="sub-heading"> 
                                        <b style="text-decoration: underline; ">LIBELLE CATEGORIE:</b>
                                    </p>
                                </td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
                <div style="margin-left: 10px; margin-right: 10px;">
                    <hr align="center" style=" height:2px;  color: yellow; margin: 20px 0px 10px 0px;border-width:2px; border: thick double #32a1ce;" >
                </div>
                {# *********// Entête  //******** #}
                <div class="body-section">
                    <div style="margin-left: 10px;" class="row">
                        <table class="bod" style="width:100%;">
                            <thead>
                                <tr>
                                    <th class="bod" style="width:9%; font-size:9px;" >Code</th>
                                    <th class="bod" style="width:28%; font-size:9px;">Produit</th>
                                    <th class="bod" style="width:9%; font-size:9px;">M²/<br>Carton</th>
                                    <th class="bod" style="width:9%; font-size:9px;">Pièces/<br>M²</th>
                                    <th class="bod" style="width:9%; font-size:9px;">Pièces/<br>Carton</th>
                                    <th class="bod" style="width:9%; font-size:9px;">Surface/<br>Pièces</th>
                                    <th class="bod" style="width:9%; font-size:9px;">Prix<br> achat</th>
                                    <th class="bod" style="width:9%; font-size:9px;">Prix<br> vente</th>
                                    <th class="bod" style="width:9%; font-size:9px;">Prix vente lim</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for i in 0..18 %}
                                <tr>
                                    <td class="bod" style="height:33px;"></td>
                                    <td class="bod"></td>
                                    <td class="bod"></td>
                                    <td class="bod"></td>
                                    <td class="bod"></td>
                                    <td class="bod"></td>
                                    <td class="bod"></td>
                                    <td class="bod"></td>
                                    <td class="bod"></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            <div style="margin-left: 10px; margin-right: 10px;">
                <hr align="center" style=" height:2px;  color: yellow; margin: 20px 0px 10px 0px;border-width:2px; border: thick double #32a1ce;" >
            </div>
            {# *********// Signature //******** #}
            <div class="body-section" >
                <table style="margin-left: 20px;  width:100%; margin-right: 20px;" >
                    <thead>
                    <tr>
                        {# {% set tail = 100 / (signataires.modelSignatairePersonnelFonctions|length ) %}

                        {% for sig in signataires.modelSignatairePersonnelFonctions %}
                            <td style="text-align: left; width: {{ tail ~ '%;' }} " class='font' align=" {{ loop.index == 1 ? 'left' : loop.index == signataires.modelSignatairePersonnelFonctions|length ? 'right' : 'center'  }} ">
                                <p style="text-decoration: underline; text-underline-offset: 5px; ">{{ sig.fonction.intitule }} </p>
                                <br><br><br>
                                <p> {{ sig.personnel.nom ~ " "~ sig.personnel.prenoms }}</p>
                            </td>
                        {% endfor %} #}
                    </tr>
                    </tbody>
                </table>   
            </div>
            <br>
            <div style="margin-left: 30px;  width:100%; margin-right: 20px;">
                <p align="center">Merci</p>
            </div>
        </div>
    </span>
</div>