<tr>
    <td class="sorting_1">
        <div class="form-check form-check-sm form-check-custom form-check-solid">
            <input class="form-check-input kt_entity_checkbox" type="checkbox" value="{{ prodCondMag.id }}">
        </div>
    </td>
    <td>{{ prodCondMag.magasin }}</td>
    <td>{{ prodCondMag.produitConditionnement }}</td>
    <td>{{ prodCondMag.produitConditionnement.qteCond }}</td>
    <td>{{ prodCondMag.qteStockMag }}</td>
</tr>