<div class="card card-flush py-0" data-menu="kt_demande_de_prix_show">
    <!--begin::Card body-->
    <div class="card-body py-5">
        <div class="mb-10 mb-lg-0">
            <!--begin::Description-->
            <div class="m-0">
                <!--begin::Header-->
                <div class="py-3 d-flex flex-stack flex-wrap">
                    <!--begin::Toggle-->
                    <div class="d-flex align-items-center">
                        <!--begin::Summary-->
                        <div class="me-3">
                            <div class="d-flex align-items-center">
                                <div class="fs-1 text-gray-800 w-bolder">
                                    Demande de prix  {{ '#' ~ demande_de_prix.id }}
                                </div>
                            </div>
                        </div>
                        <!--end::Summary-->
                    </div>
                    <!--end::Toggle-->

                    <!--begin::Toolbar-->
                    <div class="menu-item d-flex my-3 ms-9">
                        <!--begin::Edit-->
                        <a href="javascript:void(0);" class="menu-link btn btn-icon btn-active-light-primary w-30px h-30px me-3" 
                            {# data-bs-toggle="modal" #}
                            data-url="{{ path('app_entity_callandsave', {'class':'demandeDePrix', 'action':'edit', 'key':demande_de_prix.id}) }}"
                            data-kt-entity-table-filter="edit_row"
                            {# data-bs-target="#kt_modal_new_card" #}
                            >
                            <span data-bs-toggle="tooltip" data-bs-trigger="hover" aria-label="Edit"
                                  data-bs-original-title="Edit" data-kt-initialized="1">
                                <!--begin::Svg Icon | path: icons/duotune/art/art005.svg-->
                                <span class="svg-icon svg-icon-3">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.3"
                                              d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z"
                                              fill="currentColor"></path>
                                        <path d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z"
                                              fill="currentColor"></path>
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                            </span>
                        </a>
                        <!--end::Edit-->

                  
                    </div>
                    <!--end::Toolbar-->
                </div>
                <!--end::Header-->

                <div class="d-flex flex-wrap py-5">
                    <!--begin::Col-->
                    <div class="flex-equal me-5">
                        <table class="table table-flush fw-semibold gy-1">
                            <tbody>
                            <tr>
                                <td class="text-muted min-w-125px w-125px">Id</td>
                                <td class="text-gray-800">{{ demande_de_prix.id }}</td>
                            </tr>
                            <tr>
                                <td class="text-muted min-w-125px w-125px">Date</td>
                                <td class="text-gray-800">{{ demande_de_prix.dateDdp|date('d/m/Y') }}</td>
                            </tr>
                            <tr>
                                <td class="text-muted min-w-125px w-125px">Fournisseur</td>
                                <td class="text-gray-800">
                                    {{ (demande_de_prix.fournisseur.denomination) ? 
                                    demande_de_prix.fournisseur.denomination ~ ' [ ' ~ demande_de_prix.fournisseur.sigle ~ ' ]'  :
                                    demande_de_prix.fournisseur.nom ~ ' ' ~ demande_de_prix.fournisseur.prenoms  }}

                                </td>
                            </tr>
                            {# <tr>
                                <td class="text-muted min-w-125px w-125px">Référence</td>
                                <td class="text-gray-800">{{ produit.refProd }}</td>
                            </tr> #}
                            </tbody>
                        </table>
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="flex-equal ">
                        <table class="table table-flush fw-semibold gy-1">
                            <tbody>
                            {# <tr>
                                <td class="text-muted min-w-125px w-125px">Désignation</td>
                                <td class="text-gray-800">{{ produit.nomProd }}</td>
                            </tr>
                            <tr>
                                <td class="text-muted min-w-125px w-125px">Description</td>
                                <td class="text-gray-800">{{ produit.descProd }}</td>
                            </tr>
                            <tr>
                                <td class="text-muted min-w-200px w-200px">Groupe de taxation</td>
                                <td class="text-gray-800">{{ produit.groupeTaxe is not null ? produit.groupeTaxe.libelleGr : '' }}</td>
                            </tr>
                            <tr>
                                <td class="text-muted min-w-200px w-200px">Methode de suivi de stock</td>
                                <td class="text-gray-800">{{ produit.suiviStock }}</td>
                            </tr> #}
                            </tbody>
                        </table>
                    </div>
                    <!--end::Col-->
                </div>
            </div>
            <!--end::Description-->

            <!--begin::Accordion-->

            <!--begin::Section-->
            <div class="m-0">
                <!--begin::Heading-->
                <div class="d-flex align-items-center collapsible py-3 toggle mb-0 collapsed" data-bs-toggle="collapse"
                     data-bs-target="#show_conditionnements" aria-expanded="false">
                    <!--begin::Icon-->
                    <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen036.svg-->
                        <span class="svg-icon toggle-off svg-icon-primary svg-icon-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor"></rect>
                                <rect x="6.0104" y="10.9247" width="12" height="2" rx="1" fill="currentColor"></rect>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                        <span class="svg-icon toggle-on svg-icon-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor"></rect>
                                <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)"
                                      fill="currentColor"></rect>
                                <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor"></rect>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </div>
                    <!--end::Icon-->

                    <!--begin::Title-->
                    <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">
                        Produits
                    </h4>
                    <!--end::Title-->
                </div>
                <!--end::Heading-->

                <!--begin::Body-->
                <div id="show_conditionnements" class="fs-6 ms-1 collapse show" style="">
                    <!--begin::Item-->
                    <div class="mb-4">
                        <!--begin::Item-->
                        <div class="align-items-lg-start ps-10">
                        {# <div class="d-flex align-items-lg-start ps-10"> #}
                            <!--begin::Label-->
                            <div class="table-responsive">
                                <table class="table align-middle gs-0 gy-4">
                                    <!--begin::Table head-->
                                    <thead class="border-bottom border-gray-200 fs-7 text-uppercase fw-bold">
                                    <!--begin::Table row-->
                                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                        <th class="min-w-100px">Libellé</th>
                                        <th class="min-w-50px text-wrap">Qté.</th>
                                        {# <th class="min-w-50px text-wrap">Prix Min. (fcfa)</th>
                                        <th class="min-w-50px text-wrap">Prix V. (fcfa)</th>
                                        <th class="min-w-50px text-wrap">Prix Max. (fcfa)</th> #}
                                        {# <th class="min-w-100px text-end"></th> #}
                                    </tr>
                                    <!--end::Table row-->
                                    </thead>
                                    <!--end::Table head-->
                                    <!--begin::Table body-->
                                    <tbody class="fw-bold text-gray-600">
                                    {% for produitCond in demande_de_prix.produitCondDdps %}
                                        <tr>
                                            <td>{{ produitCond.produitCond.produit.nomProd ~ ' [ ' ~ produitCond.produitCond.conditionnement.libelleCond ~ ' ] ' }}</td>
                                            <td>{{ produitCond.qteDdp }}</td>
                                            {# <td>{{ produitCond.prixMin|number_format(0, ',', ' ') }}</td>
                                            <td>{{ produitCond.prixDeVente|number_format(0, ',', ' ') }}</td>
                                            <td>{{ produitCond.prixMax|number_format(0, ',', ' ') }}</td> #}
                                            {# <td class="text-end">
                                                <a href="javascript:void(0);" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                    <!--begin::Svg Icon | path: icons/duotune/art/art005.svg-->
                                                    <span class="svg-icon svg-icon-3">
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path opacity="0.3" d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z" fill="currentColor"></path>
                                                            <path d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z" fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                                    <!--end::Svg Icon-->
                                                </a>

                                                <a href="javascript:void(0);" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                                                    <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                                                    <span class="svg-icon svg-icon-3">
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="currentColor"></path>
                                                            <path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="currentColor"></path>
                                                            <path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                                    <!--end::Svg Icon-->
                                                </a>
                                            </td> #}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <!--end::Table body-->
                                </table>
                            </div>
                            <!--end::Label-->
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Item-->
                </div>
                <!--end::Content-->

                <!--begin::Separator-->
                <div class="separator separator-dashed"></div>
                <!--end::Separator-->
            </div>
            <!--end::Section-->

            <!--end::Accordion-->
        </div>
    </div>
    <!--end::Card body-->
</div>