<div class="card card-flush py-0" data-menu="kt_produit_show">
    <!--begin::Card body-->
    <div class="card-body py-5">
        <div class="mb-10 mb-lg-0">
            <!--begin::Description-->
            <div class="m-0">
                <!--begin::Header-->
                <div class="py-3 d-flex flex-stack flex-wrap">
                    <!--begin::Toggle-->
                    <div class="d-flex align-items-center">
                        <!--begin::Summary-->
                        <div class="me-3">
                            <div class="d-flex align-items-center">
                                <div class="fs-1 text-gray-800 w-bolder">
                                    Produit : <b>{{ produit.nomProd|capitalize  }}</b>
                                </div>
                            </div>
                        </div>
                        <!--end::Summary-->
                    </div>
                    <!--end::Toggle-->

                </div>
                <!--end::Header-->

                <div class="d-flex flex-wrap py-5">
                    <!--begin::Col-->
                    <div class="flex-equal me-5">
                        <table class="table table-flush  fw-semibold gy-1">
                            <tbody>
                            <tr>
                                <td class="text-muted min-w-125px w-125px">Id</td>
                                <td class="text-gray-800">{{ produit.id }}</td>
                            </tr>
                            <tr>
                                <td class="text-muted min-w-125px w-125px">Code</td>
                                <td class="text-gray-800">{{ produit.codeProduit }}</td>
                            </tr>
                            <tr>
                                <td class="text-muted min-w-125px w-125px">Famille</td>
                                <td class="text-gray-800">{{ produit.famille }}</td>
                            </tr>
                            <tr>
                                <td class="text-muted min-w-125px w-125px">Référence</td>
                                <td class="text-gray-800">{{ produit.refProd }}</td>
                            </tr>
                            {% if produit.estModeCarreau %}
                                <tr>
                                    <td class="text-muted min-w-125px w-125px">Pièce par carton</td>
                                    <td class="text-gray-800">{{ produit.pieceParCarton }}</td>
                                </tr>
                                <tr>
                                    <td class="text-muted min-w-125px w-125px">Pièce par M²</td>
                                    <td class="text-gray-800">{{ produit.pieceParMetreCarre }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="flex-equal ">
                        <table class="table table-flush fw-semibold gy-1">
                            <tbody>
                            <tr>
                                <td class="text-muted min-w-125px w-125px">Désignation</td>
                                <td class="text-gray-800">{{ produit.nomProd }}</td>
                            </tr>
                            <tr>
                                <td class="text-muted min-w-125px w-125px">Description</td>
                                <td class="text-gray-800">{{ produit.descProd }}</td>
                            </tr>
                            <tr>
                                <td class="text-muted min-w-200px w-200px">Groupe de taxation</td>
                                <td class="text-gray-800">{{ produit.groupeTaxe is not null ? produit.groupeTaxe.libelleGr : '' }}</td>
                            </tr>
                            <tr>
                                <td class="text-muted min-w-200px w-200px">Methode de suivi de stock</td>
                                <td class="text-gray-800">{{ produit.suiviStock }}</td>
                            </tr>
                            {% if produit.estModeCarreau %}
                                <tr>
                                    <td class="text-muted min-w-125px w-125px">M² par carton</td>
                                    <td class="text-gray-800">{{ produit.metreCarreParCarton }}</td>
                                </tr>
                                <tr>
                                    <td class="text-muted min-w-125px w-125px">Surface par pièce</td>
                                    <td class="text-gray-800">{{ produit.surfaceParPiece }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <!--end::Col-->
                </div>
            </div>
            <!--end::Description-->

            <!--begin::Accordion-->

            <!--begin::Section-->
            <div class="m-0">
                <!--begin::Heading-->
                <div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse"
                     data-bs-target="#show_conditionnements" aria-expanded="false">
                    <!--begin::Icon-->
                    <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen036.svg-->
                        <span class="svg-icon toggle-off svg-icon-primary svg-icon-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor"></rect>
                                <rect x="6.0104" y="10.9247" width="12" height="2" rx="1" fill="currentColor"></rect>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                        <span class="svg-icon toggle-on svg-icon-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor"></rect>
                                <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)"
                                      fill="currentColor"></rect>
                                <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor"></rect>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </div>
                    <!--end::Icon-->

                    <!--begin::Title-->
                    <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">
                        Conditionnements
                    </h4>
                    <!--end::Title-->
                </div>
                <!--end::Heading-->

                <!--begin::Body-->
                <div id="show_conditionnements" class="fs-6 ms-1 collapse show" style="">
                    <!--begin::Item-->
                    <div class="mb-4">
                        <!--begin::Item-->
                        <div class="align-items-lg-start ps-10">
                        {# <div class="d-flex align-items-lg-start ps-10"> #}
                            <!--begin::Label-->
                            <div class="table-responsive">
                                <table class="table align-middle gs-0 gy-4">
                                    <!--begin::Table head-->
                                    <thead class="border-bottom border-gray-200 fs-7 text-uppercase fw-bold">
                                    <!--begin::Table row-->
                                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                        <th class="min-w-100px">Libellé</th>
                                        <th class="min-w-50px text-wrap">Qté Cond.</th>
                                        <th class="min-w-50px text-wrap">Prix Min. (fcfa)</th>
                                        <th class="min-w-50px text-wrap">Prix V. (fcfa)</th>
                                        <th class="min-w-50px text-wrap">Prix Max. (fcfa)</th>
                                    </tr>
                                    <!--end::Table row-->
                                    </thead>
                                    <!--end::Table head-->
                                    <!--begin::Table body-->
                                    <tbody class="fw-bold text-gray-600">
                                    {% for produitCond in produit.produitConditionnements %}
                                        <tr>
                                            <td>{{ produitCond.conditionnement.libelleCond }}</td>
                                            <td>{{ produitCond.qteCond }}</td>
                                            <td>{{ produitCond.prixMin|number_format(0, ',', ' ') }}</td>
                                            <td>{{ produitCond.prixDeVente|number_format(0, ',', ' ') }}</td>
                                            <td>{{ produitCond.prixMax|number_format(0, ',', ' ') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <!--end::Table body-->
                                </table>
                            </div>
                            <!--end::Label-->
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Item-->
                </div>
                <!--end::Content-->

                <!--begin::Separator-->
                <div class="separator separator-dashed"></div>
                <!--end::Separator-->
            </div>
            <!--end::Section-->

            <!--begin::Section-->
            <div class="m-0">
                <!--begin::Heading-->
                <div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse"
                     data-bs-target="#show_images">
                    <!--begin::Icon-->
                    <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen036.svg-->
                        <span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor"></rect>
                                <rect x="6.0104" y="10.9247" width="12" height="2" rx="1" fill="currentColor"></rect>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                        <span class="svg-icon toggle-off svg-icon-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor"></rect>
                                <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)"
                                      fill="currentColor"></rect>
                                <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor"></rect>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </div>
                    <!--end::Icon-->

                    <!--begin::Title-->
                    <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">
                        Images
                    </h4>
                    <!--end::Title-->
                </div>
                <!--end::Heading-->

                <!--begin::Body-->
                <div id="show_images" class="collapse show  fs-6 ms-1">
                    <!--begin::Item-->
                    <div class="mb-4">
                        <!--begin::Item-->
                        <div class="row g-10 row-cols-2 row-cols-lg-5">
                            {% for media in produit.medias %}
                                <!--begin::Col-->
                                <div class="col">
                                    <!--begin::Overlay-->
                                    <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="{{ asset('uploads/medias/produit/' ~ produit.id ~ '/' ~ media.id ~ '.' ~ media.extension) }}">
                                        <!--begin::Image-->
                                        <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url({{ asset('uploads/medias/produit/' ~ produit.id ~ '/' ~ media.id ~ '.' ~ media.extension) }})">
                                        </div>
                                        <!--end::Image-->

                                        <!--begin::Action-->
                                        <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                            <i class="bi bi-eye-fill fs-2x text-white"></i>
                                        </div>
                                        <!--end::Action-->
                                    </a>
                                </div>
                                <!--end::Col-->
                            {% endfor %}
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Item-->
                </div>
                <!--end::Content-->

            </div>
            <!--end::Section-->

            <!--end::Accordion-->
        </div>
    </div>
    <!--end::Card body-->
</div>