
{{ form_start(form) }}
<div class="row"> 

    <div class="fv-row mb-5 col">
        {{ form_label(form.dateDebutInv) }}
        {{ form_widget(form.dateDebutInv) }}
    </div>
    <div class="fv-row mb-5 col">
        {{ form_label(form.dateFinInv) }}
        {{ form_widget(form.dateFinInv) }}
    </div>
</div>
<div class="fv-row mb-5">
    {{ form_label(form.personnesConcernees) }}
    {{ form_widget(form.personnesConcernees) }}
</div>
<div class="fv-row mb-5">
    {{ form_label(form.motif) }}
    {{ form_widget(form.motif) }}
    {{ form_widget(form.estCloturer,{'value' : ( param is defined and param != null )? param :''   } ) }}
    {# <input type="hidden" id="cloturer" value="{% if param is defined and param != null %}{{ param }}{% endif %}"> #}
</div>
<div class="separator mb-6"></div>
{# <div class="row">
    <div class="form-group mb-6 col">
        <a href="javascript:;" class="btn btn-light-success add_item_link"
           data-collection-holder-class="collection-form">
            <i class="la la-plus"></i>Ajouter un magasin
        </a>
    </div>
    <div class="fv-row mb-3 col"></div>
    <div class="fv-row mb-3 col">
    </div>
</div> #}
{% set prefix = 'collection-form___' ~ form.inventaireMags.vars.name ~ '__' %}
<div class="row collection-form"
     data-collection-key = "__{{ form.inventaireMags.vars.name }}__"
     data-collection-prefix="{{ prefix }}"
     data-index="{{ form.inventaireMags|length > 0 ? form.inventaireMags|last.vars.name + 1 : 0 }}"
     data-prototype="{% autoescape 'html' %}{{ include('inventaire/partials/_inventaire_mag.prototype.html.twig',
         { 'form': form.inventaireMags.vars.prototype, 'class':'inventaireMag', 'prefix':prefix })|escape }}{% endautoescape %}">
    {% for key,m in form.inventaireMags %}
        <div class="ligne form-child" data-index="{{ key }}" id="{{ 'collection-form_' ~ key }}">
            {{ include('inventaire/partials/_inventaire_mag.prototype.html.twig',
                { 'form': m, 'class':'inventaireMag', 'prefix':'collection-form_' ~ key }) }}
        </div>
    {% endfor %}
</div>
<div class="row">
    <div class="form-group mb-2 mt-2 col">
        <a href="javascript:;" class="btn btn-light-success add_item_link" data-collection-holder-class="collection-form">
            <i class="la la-plus"></i>Ajouter un magasin
        </a>
    </div>
</div>
<div class="separator mb-2 mt-2"></div>


    <button type="submit" class="btn{% if param is defined and param == 'cloture' %} btn-success {% else %} btn-primary {% endif %}" disabled>
        {% if param is defined and param != null %}
            <span class="indicator-label">Cloturer l'inventaire</span>
        {% else %}
            <span class="indicator-label">Enregistrer</span>
        {% endif %}
        <span class="indicator-progress">Veuillez patienter...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
    </button>
    

{{ form_end(form) }}