{% extends 'base.html.twig' %}

{% block title %}PointDeVente{% endblock %}

{% block body %}
    <h1>PointDeVente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ point_de_vente.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ point_de_vente.code }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ point_de_vente.libelle }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ point_de_vente.adresse }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ point_de_vente.tel }}</td>
            </tr>
            <tr>
                <th>EstPrincipal</th>
                <td>{{ point_de_vente.estPrincipal ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ point_de_vente.createdAt ? point_de_vente.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ point_de_vente.updatedAt ? point_de_vente.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ point_de_vente.deletedAt ? point_de_vente.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_point_de_vente_index') }}">back to list</a>

    <a href="{{ path('app_point_de_vente_edit', {'id': point_de_vente.id}) }}">edit</a>

    {{ include('point_de_vente/_delete_form.html.twig') }}
{% endblock %}
