{% extends 'base.html.twig' %}

{% block title %}Fermerture de caisse{% endblock %}
{% block body %}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="toolbar" id="kt_toolbar">
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack"><div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Caisse</h1>
                    <span class="h-20px border-gray-300 border-start mx-4"></span>
                    <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                        <li class="breadcrumb-item text-muted">
                            <a href="/" class="text-muted text-hover-primary">Accueil</a>
                        </li>
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-300 w-5px h-2px"></span>
                        </li>
                        <li class="breadcrumb-item text-dark">Fermerture de caisse</li>
                    </ul>
                </div>
                <div class="d-flex align-items-center gap-2 gap-lg-3">
                    <h3> <span class="text-danger">Fermerture de {{ lcaisse }}</span></h3>
                </div>
            </div>
        </div>
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
                <div class="row " data-call-form="ajax">
                    <div class="col-xl-12 col-sm-12">
                    {{ form_start(form) }}
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="row">
                                    <div class="mb-5 fv-row col">
                                        {{ form_label(form.fondRoulement) }}
                                        {{ form_widget(form.fondRoulement) }}
                                    </div>
                                    <div class="mb-5 fv-row  col">
                                        {{ form_label(form.chiffreAffaire) }}
                                        {{ form_widget(form.chiffreAffaire) }}
                                    </div>
                                    <div class="mb-5 fv-row  col">
                                        {{ form_label(form.depense) }}
                                        {{ form_widget(form.depense) }}
                                    </div>
                                    <div class="mb-5 fv-row  col">
                                        {{ form_label(form.soldeCloture) }}
                                        {{ form_widget(form.soldeCloture) }}
                                    </div>
                                    <div class="mb-5 fv-row  col">
                                        {{ form_label(form.ecart) }}
                                        {{ form_widget(form.ecart) }}
                                    </div>
                                    {# <div class="mb-5 fv-row col">
                                        {{ form_label(form.lcaisse) }}
                                        {{ form_widget(form.lcaisse) }}
                                    </div> #}
                                </div>
                               <div class="row">
                                    <div class="col-xl-12 col-sm-12"> 
                                        <div class="card shadow-sm my-5">
                                            <div class="card-header collapsible cursor-pointer rotate" data-bs-target="#kt_caisse_car_dcollapsible">
                                                <h3 class="card-title">Monnaies</h3>
                                                <div class="card-toolbar pt-3">
                                                    <div class="sold" class="justify-content-end d-flex">
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="kt_caisse_car_dcollapsible" class="collapse show">
                                                <div class="card-body row collection-form" data-index="{{ form.monnaieCaisses|length > 0 ? form.monnaieCaisses|last.vars.name + 1 : 0 }}"
                                                    data-prototype="{% autoescape 'html' %}{{ include('caisse/partials/_monnaie_caisse.prototype.html.twig',
                                                    { 'form': form.monnaieCaisses.vars.prototype, 'class':'MonnaieCaisse' })|escape }}{% endautoescape %}">
                                                    {% if form.monnaieCaisses | length > 0 %}
                                                        {% for key, p in form.monnaieCaisses %}
                                                            {% if key > 0 %}
                                                                {% set length = form.monnaieCaisses|length %}
                                                                {{ include('caisse/partials/_monnaie_caisse.prototype.html.twig',
                                                                    { 'form': p, 'length':length }) }}
                                                            {% else %}
                                                                {{ include('caisse/partials/_monnaie_caisse.prototype.html.twig',
                                                                    { 'form': p }) }}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {{ form_row(form.monnaieCaisses) }}
                                                    {% endif %}  
                                                
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-7 col-sm-7">
                                                    </div>
                                                    <div class="col-xl-5 col-sm-5">
                                                        <div class="sold" class="justify-content-end d-flex ">
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                {# <div class="modal-footer">
                                                    <div class="form-group">
                                                        <a href="javascript:;" class="btn btn-light-primary add_caisse_item_link" data-collection-holder-class="collection-form">
                                                            <i class="la la-plus"></i>Ajouter une monnaie
                                                        </a>
                                                    </div>
                                                </div> #}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-sm-12">
                                        <div class="card shadow-sm mt-5">
                                            <div class="card-header  cursor-pointer rotate">
                                                <h3 class="card-title">Personnels</h3>
                                                <div class="card-toolbar rotate-180">
                                                    <span class="svg-icon svg-icon-1">
                                                    
                                                    </span>
                                                    {# <a href="#" class="btn btn-icon btn-sm btn-active-color-primary" data-kt-card-action="remove" data-kt-card-confirm="true" data-kt-card-confirm-message="Voulez-vous vraiment supprimer cette mo?" data-bs-toggle="tooltip" title="ferme" data-bs-dismiss="click">
                                                        <span class="svg-icon svg-icon-1">
                                                            ...
                                                        </span>
                                                    </a> #}
                                                </div>
                                            </div>
                                            <div  class="show">
                                                <div class="card-body row collection-form1" data-index="{{ form.personnelCaisses|length > 0 ? form.personnelCaisses|last.vars.name + 1 : 0 }}"
                                                    data-prototype="{% autoescape 'html' %}{{ include('caisse/partials/_personnel_caisse.prototype.html.twig',
                                                    { 'form': form.personnelCaisses.vars.prototype, 'class':'PersonneCaisse' })|escape }}{% endautoescape %}">
                                                        {% if form.personnelCaisses | length > 0 %}
                                                            {% for key, p in form.personnelCaisses %}
                                                                {% if key > 0 %}
                                                                    {% set length = form.personnelCaisses|length %}
                                                                    {{ include('caisse/partials/_personnel_caisses.prototype.html.twig',
                                                                        { 'form': p, 'length':length }) }}
                                                                {% else %}
                                                                    {{ include('caisse/partials/_personnel_caisses.prototype.html.twig',
                                                                        { 'form': p }) }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                            {{ form_row(form.personnelCaisses) }}
                                                        {% endif %}
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="form-group">
                                                        <a href="javascript:;" class="btn btn-light-primary add_caisse_item_link" data-collection-holder-class="collection-form1">
                                                            <i class="la la-plus"></i>Ajouter un personnel
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end modal-footer">
                                <!--begin::Button-->
                                <button type="reset" data-kt-cond-type="cancel" class="btn btn-light me-3">Vider</button>
                                <!--end::Button-->
                                <!--begin::Button-->
                                <button type="submit" id="condi_submit" data-kt-cond-type="submit" class="btn btn-warning">
                                    <span class="indicator-label"> <i class="fa fa-plus"></i>Enregistrer</span>
                                    <span class="indicator-progress">Veuillez patienter svp...
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                </button>
                                <!--end::Button-->
                            </div>
                            {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
     <script>
        var etatcaisse="fermerture";
    </script> 
    <script src="{{ asset('assets/js/custom/apps/caisse/caisse.js') }}"></script>
{% endblock %}

    
