{{ form_start(form) }}
    <div>
        <div class="row">
            <div class="mb-5 fv-row fv-plugins-icon-container col-12">
                {{ form_label(form.client) }}
                {{ form_widget(form.client) }}
            </div>
        </div>
        <div class="row">
            <div class="mb-5 fv-row fv-plugins-icon-container col-6">
                {{ form_label(form.intitule) }}
                {{ form_widget(form.intitule) }}
            </div>
            <div class="mb-5 fv-row fv-plugins-icon-container col-6">
                {{ form_label(form.soldeInitial) }}
                {{ form_widget(form.soldeInitial) }}
            </div> 
         </div>    
        <div class="mb-5 fv-row fv-plugins-icon-container">
             <!--begin::Button-->
            <button type="reset" data-kt-cond-type="cancel" class="btn btn-light me-3">Vider</button>
            <!--end::Button-->
            <!--begin::Button-->
            <button type="submit" id="condi_submit" data-kt-cond-type="submit" class="btn btn-primary">
                <span class="indicator-label"> <i class="fa fa-plus"></i> Ajouter</span>
                <span class="indicator-progress">Veuillez patienter svp...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
            <!--end::Button-->
        </div>
    </div>
{{ form_end(form) }} 

