    <div class="row">
        <div class="mb-3 fv-row fv-plugins-icon-container col-sm-3">
            {{ form_label(form.produitComClit) }}
            {{ form_widget(form.produitComClit) }}
            <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
        <div class="mb-3 fv-row fv-plugins-icon-container col-sm-2">
            {{ form_label(form.prix) }}
            {{ form_widget(form.prix) }}
            <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
        <div class="mb-3 fv-row fv-plugins-icon-container col-sm-2">
            {{ form_label(form.qtiteComd) }}
            {{ form_widget(form.qtiteComd) }}
            <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
        <div class="mb-3 fv-row fv-plugins-icon-container col-sm-2">
            {{ form_label(form.qtite) }}
            {{ form_widget(form.qtite) }}
            <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
        <div class="mb-3 fv-row fv-plugins-icon-container col-sm-2">
            {{ form_label(form.montant) }}
            {{ form_widget(form.montant) }}
            <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
        <div class="mb-3 fv-row fv-plugins-icon-container col-sm-1 col-lg-1">
            <div class="mt-10">
                <button type="button" class="btn btn-sm btn-icon btn-light-danger collection-action">
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="currentColor"></rect>
                            <rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="currentColor"></rect>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
    </div>
<div class="separator mb-3"></div>
